venv/
env/
*/venv/
*/env/
.env/
.venv/
*.pyc*
*.db
*.pyc
*/__pycache__/
scraper.log
timing.csv
*.swp
cleaned_hosts.txt
hosts.txt
blocklist.db
supporting_servers/cleaned_hosts.txt
supporting_servers/hosts.txt
supporting_servers/blocklist.db
reeds-secrets-he-doesnt-want-to-share.md
